<!DOCTYPE html>
<head>
    <title>TestTour</title>
</head>
<body>
<div>
    <form method="post">
        <input type="number" name="userId"/>
        <input type="text" name="firstName"/>
        <input type="text" name="lastName"/>
        <!--<input type="text" name="email">-->
        <!--<input type="text" name="password">-->
        <!--<input type="text" name="active">-->
        <!--<input type="text" name="birthday">-->
        <button type="submit">Добавить юзера</button>
    </form>
</div>
<div>Список юзеров</div>
    {{#allUsers}}
    <div>
        <b>{{userId}}</b>
        <span>{{firstName}}</span>
        <span>{{lastname}}</span>
    </div>
    {{/allUsers}}
</body>

</html>